# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# Database
*.db

# Poetry
poetry.lock

# Alembic
alembic/versions/*.pyc
.python-version
